/* body {
    display: flex;
} */
body {
    background-color: #dae6ed;
    font-family: 'Tapestry', cursive;
    transition: 0.2s;

}

.header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    border-radius: 5px;
    background-color: #345d76;
}

.logo {
    float: left;
}

.logo img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
}

.logo img:hover {
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow: 0px 0px 25px rgb(160, 10, 10),
            0px 0px 50px rgba(242, 69, 26, 0.5);
    }
}

.timer {
    border: 2px solid red;
    border-radius: 5px;
    align-content: center;
    align-self: baseline;
}

.clock {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times;

    letter-spacing: 7px;
    padding-left: 20px;
}

.date {

    top: 35%;
    left: 50%;
    color: black;
    font-family: 'Times New Roman', Times;
    letter-spacing: 7px;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.phrase {
    text-align: center;
}

.selektor {
    width: 200px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    background-color: #FDC664;
    /* opacity: 0.8; */

}

.selektor:hover {
    box-shadow: 2px 1px 1px #eb5813
}

.lblInput {
    margin: 10px;
    font-weight: bold;
}



.textHolder {
    margin: 10px;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    background-color: #ffffff;
}

.highRb {
    border: 2px solid red;
    border-radius: 5px;
    background-color: rgb(174, 59, 59);
    color: white;
    opacity: 0.9;
}

.midRb {
    border: 2px solid blue;
    border-radius: 5px;
    background-color: rgb(71, 71, 204);
    color: white;
    opacity: 0.9;
}

.lowRb {

    border: 2px solid rgb(225, 156, 7);
    border-radius: 5px;
    background-color: rgb(240, 154, 41);
    color: white;
    opacity: 0.9;
}

#submit {
    font-size: .96em;
    height: 25px;
    width: 70px;
    background-color: #e6683e;
    color: white;
    border-radius: 10px;
    opacity: 0.8;
}

#submit:hover {
    border: 1px solid rgb(159, 9, 9);
    box-shadow: 2px 1px rgb(160, 10, 10);
}

.selektor button {
    font-size: medium;
    margin-left: 70px;
    background-color: rgb(211, 187, 184);
    border-radius: 5px;
    font-weight: bold;
}

.selektor button:hover {
    box-shadow: 2px 1px 1px rgb(218, 51, 0);
}

.toDo {
    width: 200px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    background-color: #FD836D;
    overflow: scroll;

}

.toDo::-webkit-scrollbar {
    display: none;
}

.toDo:hover {
    box-shadow: 2px 1px 1px #eb5813
}


.inProgress {
    width: 200px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    background-color: #73607D;
    overflow: scroll;
}

.inProgress::-webkit-scrollbar {
    display: none;
}

.inProgress:hover {
    box-shadow: 2px 1px 1px #eb5813;
}

.completed {
    width: 200px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    background-color: #C1b9Ae;
    overflow: scroll;
}

.completed::-webkit-scrollbar {
    display: none;
}

.completed:hover {
    box-shadow: 2px 1px 1px #eb5813
}

ul li {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    padding: 5px 3px 5px 20px;
    background-color: #c1c4c5;
    transition: 0.2s;
    /* list-style: none; */
}

ul li:hover {
    background-color: #e9e7e4
}

.toDo li {
    text-decoration: dashed;

}

.completed li {
    text-decoration: line-through;
    background-color: #1e7e21;
}

.completed li::before {
    content: '✓';
}

.inProgress li {
    text-decoration: underline;
    background-color: #87bb34;
}

.container b {
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.footer {
    display: flex;
    background-color: #092E49;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: fixed;
}

.footer a {
    text-decoration: none;
    color: white;
}


.footer .social a {
    padding: 10px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: aliceblue;
    text-decoration: none;
    color: #0f4b76;
}

.footer span {
    color: white;
    font-weight: bold;
}

.footer span a {
    color: rgb(248, 119, 6);
}

.footer .social a:hover {
    background-color: rgb(242, 122, 26);
}